@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #029147;
  --yellow: #f8c639;
  --blue: #42639c;
  --light-gray: #828282;
  --mid-gray: #c0bfbf;
  --black: #2d2e32;
  --red: #e53935;
  --border: #ccc9c9;
  --content: #e9e9e9;
}
.ant-modal-confirm-btns .ant-btn-primary{
  background-color: var(--blue);
}
:where(.css-dev-only-do-not-override-p7e5j5).ant-tabs-card.ant-tabs-top
  > .ant-tabs-nav
  .ant-tabs-tab
  + .ant-tabs-tab,
:where(.css-dev-only-do-not-override-p7e5j5).ant-tabs-card.ant-tabs-top
  > .ant-tabs-nav
  .ant-tabs-tab {
  border-radius: 0px;
  margin-left: 6px
}
.item-product:hover ~.info-item{
  width: calc(200% + 20px);
  padding: 10px;
  border: 1px solid #eee;
}
.item-product:hover ~.info-item-mobile{
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
}
.item-cont div div div div:nth-child(6n) .info-item {
  left: calc(-100% - 20px);
}
@media screen and (max-width: 1200px) {
  .item-cont div div div div:nth-child(4n) .info-item {
    left: calc(-100% - 20px);
  }
}
@media screen and (max-width: 768px) {
  .item-cont div div div div:nth-child(2n) .info-item {
    left: calc(-100% - 20px);
  }
}
.item-product:hover{
  overflow: visible;
}
.ant-tooltip-inner{
  color: #000 !important;
  text-align: center !important;
  padding: 10px;
}
.ant-tooltip-placement-top{
  width: 170px;
}